* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'open sans';
}

nav {
  position: sticky;
  width: 100%;  
  height: 80px;
  top: 0px;
  background-color: white;
}

.nav-logo {
	margin-left: 50px;
	display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px; 
}

nav .right-nav {
	margin-right: 100px;
	float: right;
}

.right-nav .nav{
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;       
    line-height: 80px

}


.tuitt-button {
	color: white;
	font-weight: bold;
	border-radius: 2rem;
	border-color: transparent;
	padding-top: .4rem;
	padding-bottom: .4rem;
	padding-left: .6rem;
	padding-right: .6rem;
	background-color: #c2195b;
}

#bg-image {
	background-image: url("https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg");
	background-size: 100%;
	min-height: 55vh;
	background-repeat: no-repeat;
	background-position: right center;
}

.front-bg {
    background: rgba(0, 0, 0, 0.5);
    min-height: 55vh;
}

.container {
	width: 51%;
  padding-top: 30px;
	padding-right: 100px;
	float: right;
	text-align: right;
	color: white;
}

.title {
	font-size: 45px;	
	opacity:1;
	font-family: zilla slab;
}

.subtitle {
	margin-top: 20px;
	font-size: 20px;
	font-weight: normal;
}

.apply-button {
	background: #c2195b;
	padding-top: .25rem;
	padding-bottom: .25rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: 2rem;
	font-weight: bold;
	color:  white;
	margin-top: 20px;
	border: 1px;
}

.intro {
	text-align: center;
	height: 30vh;
}

.intro-description {
	margin: auto;
	width: 70%;
	text-align: left;
}

.pre-footer {
	text-align: center;
	background-color: #f7fbfb;
	height: 50vh;
	padding-top: 4%;
	padding-bottom: 7%;
	padding-left: 20%;
	padding-right: 20%;
}

.title-2{
	padding-top: 50px;
	text-align: center;
	margin-bottom: 30px;
	font-family: Zilla Slab;
}

.prefooter-description {
	margin-top: 30px;
	text-align: center;
	padding-bottom: 0.5rem;
}

.book-button {
	margin-top: 20px;
	padding: 10px 32px;	
	border-radius:  30px;
	background-color: #336589;
	color: white;
	border: .1px;
	font-weight: bold;
} 

/*footer*/
footer {
	text-align: center;
}
